/*  CSS Document                             */
@charset "UTF-8";

#mainHeader a.headerlogo:hover {
	border: none;
}
#mainHeader a.headerlogo{
	left: 70px;
	width: 185px;
	height: 25px;
	display: block;
	background:url(header_logo.png?v=1) no-repeat 0px 0px;
	position: absolute;
}

#mainFooter a.footerlogo:hover {
	border: none;
}
#mainFooter a.footerlogo{

}