/*  CSS Document                             */
@charset "UTF-8";

/* Global Styles */
body { 	margin: 0px; 
		padding: 0px; 
		font-family: Helvetica; 
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #999)); 
}

/* Global Layout */

header { position: absolute; }
article { display: block; position: absolute; }
article .content_container { top: 0px; left: 0px; background: none; color:#FFFFFF; }
article .content_container .content_loading_container { top: 0px; padding: 5px 5px 0px 5px; }
nav { position: absolute; bottom:35px; left:0px; height:60px; }
footer  { display: block; position: absolute; bottom: 0px; right:0px; height: 20px; background: none; float:right;}

.button_01 		{ position: absolute; -webkit-transform: translate3d(-200px,0px,0px); }
.button_02   	{ position: absolute; -webkit-transform: translate3d(-200px,0px,0px); }
.button_03   	{ position: absolute; -webkit-transform: translate3d(700px,0px,0px); }
.button_04  	{ position: absolute; -webkit-transform: translate3d(700px,0px,0px); }
.banner_logo_top  	{ position: absolute; -webkit-transform: translate3d(-200px,0px,0px); }
.banner_logo_bottom	{ position: absolute; -webkit-transform: translate3d(700px,0px,0px); }

/* Orientation-specific Layout - Landscape */
.page.home article .content_container { }

.page.landscape nav .button_01 			{ position: absolute; }
.page.landscape nav .button_02   		{ position: absolute; }
.page.landscape nav .button_03   		{ position: absolute; }
.page.landscape nav .button_04  		{ position: absolute; }
.page.landscape header .banner_logo_top  	{ position: absolute; -webkit-transform: translate3d(0px,0px,0px); }
.page.landscape footer .banner_logo_bottom	{ position: absolute; -webkit-transform: translate3d(0px,0px,0px); }